{% extends "base.html" %}
{% block body %}
{% load crispy_forms_tags %}
<div class="container">
<div class="wrapper"> 
    <div class="callToAction"> 
        <h2>Thank You {{user}} For Choosing Nice services</h2>
        <h2>One Of our best representatives will contact you to confirm your order within the next 24hrs</h2>
        
    </div>
</div>
</div>
       <br>
       <br>
       <br>
       <br>
<div class="container">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
      <h2>Nice Car Rentals Grenada</h2>
      
      <hr>
      <h4>
        Westerhall, St. Davids.
      </h4>
      <p>contact:1-473-440-1234</p>
      <p>Email:info@niceservices.com</p>
      <hr>
      <ul class="list-inline center-block">
        <li><a href="http://facebook.com/bootply"><img src="/assets/example/soc_fb.png"></a></li>
        <li><a href="http://twitter.com/bootply"><img src="/assets/example/soc_tw.png"></a></li>
        <li><a href="http://google.com/+bootply"><img src="/assets/example/soc_gplus.png"></a></li>
        <li><a href="http://pinterest.com/in1"><img src="/assets/example/soc_pin.png"></a></li>
      </ul>
      
  	</div><!--/col-->
            
</div>     

            {% endblock %}
